# Systemdateien
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# Editoren & IDEs
.idea/
.vscode/
*.swp
*.swo

# Node / JS (falls verwendet)
node_modules/
npm-debug.log
yarn-error.log

# Build / Output Dirs
dist/
build/
temp/
*.zip
*.crx
*.pem
*.pub
keys/
.env
scripts/promo/output/
